@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override specific styles */
html, body {
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*3d parallax test*/
  ::selection{
    background-color: #0b372dbb;
  }
  .logo{
    width: 100px;
  }
  header{
    position: absolute;
    z-index:9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(rgba(255, 0, 0, 0.19), green, blue, alpha);
  }
  header nav{
    background-color: red;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header ul{
    display: flex;
    list-style: none;
    align-items: center;
  }
  header ul a{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
  }
  .search a{
    font-size: 1.05rem;
    padding: 0 3rem;
  }

  .humburger a{
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115,115,115,0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
  }

  .hamburger .bar{
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px
  }

  .hamburger .bar ::before,
  .hamburger .bar ::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
  }

  .hamburger .bar::before{
    top: -4.5px;
  }

  .hamburger .bar::after{
    top: -4.5px;
  }
  .main{
    background-color: #353;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
  }
  .parallax{
   /*transform: translate(-50%,-50%);*/
    pointer-events: none;
    transition: none;
    /*transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);*/
  }
  /*ずらしながら風景パーツを配置*/
  .bg-img{
    position: absolute;
    width: 2800px;
    top: 1.86%;
    left: 50.69%;
    z-index: 1;
  }
  .bg-img {
    position: absolute;
    width: 2800px;
    top: 1.86%;
    left: 50.69%;
    z-index: 1;
  }
  
  .fog-1 {
    z-index: 2;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    width: 1900px;
  }
  
  .mountain-10 {
    z-index: 3;
    top: calc(50% + 69px);
    width: 870px;
    left: calc(50% + 230px);
  }
  
  .fog-2 {
    z-index: 4;
    top: calc(50% + 95px);
    left: calc(50% + 7px);
    width: 1833px;
  }
  
  .mountain-9 {
    z-index: 5;
    top: calc(50% + 119px);
    width: 463px;
    left: calc(50% - 457px);
  }
  
  .mountain-8 {
    z-index: 6;
    top: calc(50% + 96px);
    width: 786px;
    left: calc(50% - 202px);
  }
  
  .fog-3 {
    z-index: 7;
    top: calc(50% + 171px);
    left: calc(50% + 29px);
    width: 449px;
  }
  
  .mountain-7 {
    z-index: 8;
    width: 515px;
    top: calc(50% + 134px);
    left: calc(50% + 305px);
  }
  
  .mountain-6 {
    z-index: 10;
    top: calc(50% + 86.5px);
    width: 383.5px;
    left: calc(50% + 590px);
  }
  
  .fog-4 {
    z-index: 11;
    top: calc(50% + 242px);
    left: calc(50% - 64px);
    width: 543px;
  }
  
  .mountain-5 {
    z-index: 12;
    top: calc(50% + 269px);
    width: 583px;
    left: calc(50% + 130px);
  }
  
  .fog-5 {
    position: absolute;
    z-index: 13;
    top: calc(50% + 149px);
    left: calc(50% - 28px);
    width: 1435px;
  }
  
  .mountain-4 {
    z-index: 14;
    top: calc(50% + 221px);
    width: 717px;
    left: calc(50% - 381.5px);
  }
  
  .mountain-3 {
    z-index: 15;
    top: calc(50% + 133px);
    left: calc(50% + 736px);
    width: 419px;
  }
  
  .fog-6 {
    z-index: 16;
    top: calc(50% + 177px);
    left: calc(50% - 30px);
    width: 1418px;
  }
  
  .mountain-2 {
    z-index: 17;
    top: calc(50% + 188px);
    left: calc(50% + 412px);
    width: 625px;
  }
  
  .mountain-1 {
    z-index: 18;
    top: calc(50% + 91.5px);
    left: calc(50% - 601px);
    width: 450px;
  }
  

.text{
    position: absolute;
    z-index: 9;
    top: calc(50% -130px);
    left:50%;
    text-align: center;
    text-transform: uppercase;
    pointer-events: auto;
    color: #fff;
}
.text h2{
    font-weight: 100px;
    font-size: 6.5rem;
    line-height: 0.88;    
    pointer-events: auto;
}
.text h1{
    font-weight: 800px;
    font-size: 8rem;
    line-height: 0.88;
    pointer-events: auto;
}
.sun-rays{
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 595px;
}
.black-shadow{
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}
.fog-1{
    position: absolute;
    z-index: 21;
    width: 1600px;
    top: calc(100% - 355px);
    left: 50%;
    pointer-events: none;
}
.vignette{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7));
    pointer-events: none;
}
@media (max-width: 1100px){
    .text h1{
        font-size:5.8rem;
    }
    .text h2{
        font-size:4.7rem;
    }
}
@media (max-width: 725px){
    .text h1{
        font-size:5rem;
        line-height: 1.1;
    }
    .text h2{
        font-size:4.1rem;
        line-height: 1.1;
    }
    header nav{
        padding: 0.1rem;
    }
    
    .logo{
        width: 75px;
    }
    
    .header ul a{
        font-size: 0.73rem;
        padding: 0 0.9 rem;
    }
    
    .search a{
        font-size: 0.85rem;
        padding: 0 1.8rem;
    }
    .hamburger {
        padding-left: 0.9rem;
    }
    .hamburger a{
        width: 30px;
        height: 30px;
    }
    .bg-img{
        width: initial;
        height: 311.104%;
    }
}

@media (max-width: 520px){
    .text h1{
        font-size:5.8rem;
    }
    .text h2{
        font-size:4.7rem;
    }
}